@media (max-width:1200px){
    #course .card-body{
        padding: 10px;
    }
    #course .card-footer{
        text-align: center;
    }
    #course .duration{
        width: 40%;
        margin: 0 auto;
    }
}
@media (max-width:768px){
    #blog .blog-post{
        margin: 10px 0;
    }
}
@media (max-width:480px){
    .player-list{
        margin: 0 auto;
    }
}